# Dagster workspace configuration - rendered by Terraform
# Template variables: code_locations (map of name -> {host, port, module_name})

# Placeholder - will be implemented in config templates commit
